.block,
.inline {
    font-size: 2rem;
}

.line {
    background-color: #333;
    height: 5px;
    margin: 50px 0;
}

.content-1__block {
    box-sizing: border-box;
    /* padding: 50px; */
    /* padding-left: 60px;
    padding-top: 120px; */
    width: 600px;
    margin-bottom: 50px;
}

.content-1__inline {
    background-color: coral;
    /* padding: 50px; */
    margin: 50px;
}

.content-1__image {
    padding: 50px;
    width: 300px;
    margin: 50px;
}

.content-3__block {
   /* min-width: 500px;
   max-width: 700px;
   min-height: 200px;
   max-height: 250px; */
   width: 500px;
   /* height: 200px; */
   background-color: skyblue;
   /* overflow: auto; */
   box-shadow: 16px 16px 12px 0px;
}

.content-3__inline {
    /* width: 500px; */
    /* opacity: 0.3; */
    visibility: hidden;
}